<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aggiungi un film</title>
</head>

<body>
    <h1>Aggiungi un film</h1>

    <form method="post" th:object="${filmForm}">
        <div>
            <label>Titolo</label>
            <input th:field="*{titolo}" type="text" />
            <!-- controlli del validator -->
            <div th:if="${#fields.hasErrors('titolo')}">
                <span th:errors="*{titolo}" class="text-danger"></span>
            </div>
        </div>
        <div>
            <label>Genere</label>
            <input th:field="*{genere}" type="text" />
            <!-- controlli del validator -->
            <div th:if="${#fields.hasErrors('genere')}">
                <span th:errors="*{genere}" class="text-danger"></span>
            </div>
        </div>
        <div>
            <label>Anno</label>
            <input th:field="*{anno}" type="text" />
            <!-- controlli del validator -->
            <div th:if="${#fields.hasErrors('anno')}">
                <span th:errors="*{anno}" class="text-danger"></span>
            </div>
        </div>
        <div>
            <label>Voto</label>
            <input th:field="*{voto}" type="text" />
            <!-- controlli del validator -->
            <div th:if="${#fields.hasErrors('voto')}">
                <span th:errors="*{voto}" class="text-danger"></span>
            </div>
        </div>

        <div>
            <input class="btn btn-success" type="submit" value="Invia"/>
            <input class="btn btn-secondary" type="reset" value="Svuota"/>
            <a href="@{/films}" class="btn btn-primary">Indietro</a>
        </div>
    </form>

</body>

</html>