<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film Recap</title>
</head>
<body>
    <h1>Recap del film</h1>
    <table>
        <tr>
            <th>Codice</th>
            <th>Titolo</th>
            <th>Genere</th>
            <th>Anno</th>
            <th>Voto</th>
        </tr>
        <tr th:object="${film}">
            <td th:text="${film.codice}"></td>
            <td th:text="${film.titolo}"></td>
            <td th:text="${film.genere}"></td>
            <td th:text="${film.anno}"></td>
            <td th:text="${film.voto}"></td>
        </tr>
    </table>

    <div th:object="${film}">
        <a th:href="@{'/films?delete='+${film.codice}}">Elimina il film</a>
        <a href="@{/films}" class="btn btn-primary">Indietro</a>
    </div>
    
</body>
</html>